 / {
     behaviors {
        ru_sh_or_shch: ru_sh_or_shch {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_SH_OR_SHCH";
            bindings = <&ru_shch>, <&ru_sh>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_b_or: ru_b_or {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_B_OR_COMA";
            bindings = <&kp>, <&ru_b>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_yu_or: ru_yu_or {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_YU_OR_DOT";
            bindings = <&kp>, <&ru_yu>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_kh_or_e: ru_kh_or_e {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_KH_OR_E";
            bindings = <&ru_e>, <&ru_kh>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
     };
 };